@import '../Variables/variables';
.input-text {
  margin-bottom: 10px;
}
.input-wrapper {
  display: flex;
  align-items: center;
  background-color: $light-grey;
  width: 320px;
  height: 48px;
  border-radius: 12px;
  padding: 12px 16px;
  svg {
    margin-right: 16px;
  }
  input {
    border: none;
    stroke: none;
    background: transparent;
    outline: none !important;
    width: 210px;
  }
}
