@import "../Variables/variables";

.message-wrapper {
  position: fixed;
  left: 0;
  top:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 30px;
    width: 300px;
    background-color: #fff;
    border-radius: 12px;
    text-align: left;
    .title {
      margin-bottom: 20px;
    }
    .message-text {
      margin-bottom: 24px;
    }
    .primary-btn {
      height: 40px;
      background-color: #fff;
      border: 1px solid $blue;
      color: $blue;
    }
  }
}
