@import '../Variables/variables';

.searchbar-holder {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  background-color: $light-grey;
  border-radius: 100px;
  .search-icon {
    margin: 0 18px;
  }
  .searchbar {
    width: calc(100% - 100px);
    height: 48px;
    background: none;
    border: none;
    stroke: none;
    &:active, &:focus {
      outline: none;
    }
    &::-moz-focus-inner {
      border: 0;
    }
  }
  .vl {
    display: inline-block;
    border-left: 1px solid black;
    height: 24px;
  }
  .filter-icon {
    margin: 0 14px;
  }
}
