@import '../Variables/variables';

.settings-page {
  padding: 12px 23px;
  .back-arr {
    margin-right: 25px;
  }
  .profile-info {
    display: flex;
    align-items: center;
    margin-top: 33px;
    .profile-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 16px;
    }
  }
  .horizontal {
    justify-content: flex-start;
  }
}
.view-chooser {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .pallete-icon {
    margin-right: 16px;
  }
  .arr {
    position: absolute;
    right: 0;
  }
}
